:root {
  --rowNum: 4;
  --colNum: 4;
  --gridHeight: 160px;
}

html, body, #root {
	padding: 0;
	margin: 0;
	height: 100%;
}

button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;  
}

.container {
	margin: 10px;
	width: 95%;
}

.cardsContainer {
	margin-top: 20px;
	background: white;
	display: grid;
	grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
  	grid-template-columns: repeat(var(--colNum), auto);
}

.card {
 	grid-column-start: auto;
 	grid-row-start: auto;
 	margin: 5px;
 	height: 150px;
	text-align: center;
	font-size: 2.5em;
	border-radius: 10px;
	display: block;
}

.card.A {
	background: red;
	color: white;
}

.card.B {
	background: blue;
	color: crimson;
}

.card.C {
	background: green;
	color: white;
}

.card.D {
	background: gold;
	color: black;
}

.card.E {
	background: tomato;
	color: white;
}

.card.F {
	background: indigo;
	color: white;
}

.card.G {
	background: teal;
	color: white;
}

.card.X {
	background: black;
	color: black;
}